:root[data-theme='dark-high-contrast'] {
  --md-sys-color-primary: rgb(234 240 255);
  --md-sys-color-surface-tint: rgb(167 200 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(163 196 251);
  --md-sys-color-on-primary-container: rgb(0 11 30);
  --md-sys-color-secondary: rgb(234 240 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(185 195 216);
  --md-sys-color-on-secondary-container: rgb(3 11 26);
  --md-sys-color-tertiary: rgb(254 234 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(215 185 222);
  --md-sys-color-on-tertiary-container: rgb(22 4 30);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(225 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(237 240 249);
  --md-sys-color-outline-variant: rgb(192 194 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(37 73 120);
  --md-sys-color-primary-fixed: rgb(213 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(167 200 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 17 41);
  --md-sys-color-secondary-fixed: rgb(217 227 248);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(189 199 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(7 17 32);
  --md-sys-color-tertiary-fixed: rgb(248 216 254);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(219 189 226);
  --md-sys-color-on-tertiary-fixed-variant: rgb(28 9 36);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(78 80 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(29 32 36);
  --md-sys-color-surface-container: rgb(46 48 53);
  --md-sys-color-surface-container-high: rgb(57 59 65);
  --md-sys-color-surface-container-highest: rgb(69 71 76);
}
