:root[data-theme='dark-medium-contrast'] {
  --md-sys-color-primary: rgb(203 221 255);
  --md-sys-color-surface-tint: rgb(167 200 255);
  --md-sys-color-on-primary: rgb(0 38 77);
  --md-sys-color-primary-container: rgb(113 146 198);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(211 221 242);
  --md-sys-color-on-secondary: rgb(28 38 54);
  --md-sys-color-secondary-container: rgb(135 145 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(241 210 248);
  --md-sys-color-on-tertiary: rgb(50 30 58);
  --md-sys-color-tertiary-container: rgb(163 135 170);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(225 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(218 220 229);
  --md-sys-color-outline: rgb(175 178 187);
  --md-sys-color-outline-variant: rgb(141 144 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 233);
  --md-sys-color-inverse-on-surface: rgb(40 42 47);
  --md-sys-color-inverse-primary: rgb(37 73 120);
  --md-sys-color-primary-fixed: rgb(213 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 17 41);
  --md-sys-color-primary-fixed-dim: rgb(167 200 255);
  --md-sys-color-on-primary-fixed-variant: rgb(13 54 101);
  --md-sys-color-secondary-fixed: rgb(217 227 248);
  --md-sys-color-on-secondary-fixed: rgb(7 17 32);
  --md-sys-color-secondary-fixed-dim: rgb(189 199 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(45 55 71);
  --md-sys-color-tertiary-fixed: rgb(248 216 254);
  --md-sys-color-on-tertiary-fixed: rgb(28 9 36);
  --md-sys-color-tertiary-fixed-dim: rgb(219 189 226);
  --md-sys-color-on-tertiary-fixed-variant: rgb(68 46 76);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(66 68 74);
  --md-sys-color-surface-container-lowest: rgb(5 7 12);
  --md-sys-color-surface-container-low: rgb(27 30 34);
  --md-sys-color-surface-container: rgb(38 40 45);
  --md-sys-color-surface-container-high: rgb(48 51 56);
  --md-sys-color-surface-container-highest: rgb(59 62 67);
}
